@import 'nib'
@import 'utils.styl'


body
	&.overflow-body
		position fixed
		width 100%
		height 100%


.modal-bg
	position fixed
	height 100%
	width 100%
	background #000
	background rgba( 0, 0, 0, .8 )
	z-index 2098
	display none
	top 0
	left 0

.modal
	display none
	top -100%
	left 50%
	transform translateX( -50% )
	position fixed
	z-index 2099
	padding 10px 40px 34px
	border-radius 5px
	background-color white
	box-sizing border-box

	.close-modal
		position absolute
		font 35px/22px $font-medium
		right -15px
		top -15px
		color black
		cursor pointer
		background-color transparent
		border 0


.modal-scroll
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	z-index 100000
	overflow-y scroll
	.modal
		position absolute
		margin 40px 0 40px 0
