$media_queries = {
  mobile  : 'only screen and (max-width: 480px)',
  large-mobile: 'only screen and (max-width: 767px)',
  tablet  : 'only screen and (max-width: 992px)',
  desktop : 'only screen and (max-width: 1024px)',
  laptop  : 'only screen and (min-width: 1025px) and (max-width: 1366px)'
}

breakpoint( $breakpoints )
	$conditions = ()
	for $breakpoint in $breakpoints
		push( $conditions, $media_queries[$breakpoint] )
	$conditions = join( ', ', $conditions )
	@media $conditions
		{block}
