<div data-component="television">
	{{#each television.channels}}
		<div class="channel" data-channel="{{number}}">
			<div class="disable-controls"></div>
			<span class="channel-name">{{name}}</span>
			<span class="channel-number">{{number}}</span>
			<img src="{{url}}" alt="{{name}}" class="image">
		</div>
	{{/each}}
	<button class="guide-toggle" data-toggle="closed">Guia</button>
	{{> guide.guide }}
</div>
