@import 'nib'
@import '../../../assets/styl/utils.styl'

[data-component='television']
	display block

	.disable-controls
		position fixed
		left 0
		top 0
		height 100%
		width 100%
		background-color transparent
		z-index 2

	.guide-toggle
		position fixed
		bottom 30px
		right 30px
		background-color gray
		color white
		font-size 24px
		padding 10px
		border 0

	.channel
		display none
		position fixed
		top 0
		left 0
		height 100%
		width 100%
		&.active
			display block

		.channel-name,
		.channel-number
			position fixed
			z-index 3
			top 30px
			color yellow
			font-size 32px
			font-family Arial

		.channel-name
			left 30px

		.channel-number
			right 30px

	.image
		height 100%
		width 100%
		position relative
		z-index 1
