@import 'nib'

[data-component='guide']
	background-color rgba( 0, 0, 0, .5 )
	height 200px
	width 100%
	position fixed
	bottom -100%
	left 0
	z-index 3
	padding 20px 60px

	.channel-thumb
		cursor pointer
		display inline-block
		margin-right 30px
		height 159px
		width 159px
		position relative
		&.active
			&::before
				content ''
				position absolute
				left 0
				top 0
				height 100%
				width 100%
				border 2px solid yellow

		img
			display block
			height 100%
			width 100%

	.prev-channel,
	.next-channel
		cursor pointer
		border-left 2px solid white
		border-bottom 2px solid white
		height 20px
		width 20px
		position absolute
		top 50%

	.prev-channel
		left 30px
		transform translateY( -50% ) rotate( 45deg )

	.next-channel
		right 30px
		transform translateY( -50% ) rotate( -135deg )
