<div data-component="guide">
	<div class="next-channel"></div>
	<div class="channels">
		{{#each television.channels}}
		<div class="channel-thumb" data-channel="{{number}}">
			<img src="{{thumb}}" alt="{{name}}">
		</div>
		{{/each}}
	</div>
	<div class="prev-channel"></div>
</div>
